apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend

    spec:
      containers:
        - image: backend:latest
          name: backend
          ports:
            - containerPort: 8000
          imagePullPolicy: Never

          env:
            - name: DATABASE_URL
              valueFrom:
                configMapKeyRef:
                  name: config
                  key: DATABASE_URL
          livenessProbe:
            httpGet:
              path: "/health"
              port: 8000
            initialDelaySeconds: 3
            periodSeconds: 5
          readinessProbe:
            httpGet:
              path: "/health"
              port: 8000
            initialDelaySeconds: 3
            periodSeconds: 5


---

apiVersion: v1
kind: Service
metadata:
  name: backend
spec:
  ports:
  - name: 8000-8000
    port: 8000
    protocol: TCP
    targetPort: 8000
  selector:
    app: backend
  type: ClusterIP